/* -------------------------------- LES IMPORTS -------------------------------- */

@import "src/css_communs/variables.css";


/* -------------------------------- PARTIE PRÉSENTATION DE ROBBIE LENS -------------------------------- */

/* Style spécifique à la page d'accueil */

.carre-contenu-bio {
    padding: 100px 200px;
}

.carre-contenu-bio p {
    font-size: 1.3em;
}

.conteneur-robbie-lens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13%;
}

.conteneur-presentation-metier {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}

/* Position du titre h1 : Robbie Lens Photographie */
.conteneur-presentation-metier h1 {
    margin: 0;
}

/* Bouton 1 : Un projet ? Écrivez-moi */
.conteneur-bouton-1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3%;
    height: auto;
    width: 300px;
}

/* Conteneur de la photo de Robbie Lens */
.conteneur-photo-robbie-lens {
    display: grid;
    grid-template-columns: 100px 100px 100px 60px 100px;
    grid-template-rows: 100px 100px 100px 60px 100px;
}

/* Décoration qui décor la photo de Robbie Lens */
.cube-deco {
    grid-column: 5 / 5;
    grid-row: 5 / 5;
    border-right: 1px var(--couleur-fonce-violet-gris) solid;
    border-bottom: 1px var(--couleur-fonce-violet-gris) solid;
}


/* -------------------------------- PARTIE DES PROJETS ACTUELS -------------------------------- */

/* Les conteneurs de la partie : Mon dernier projet */
.carre-contenu-projet {
    padding: 70px;
    background-color: white;
}


.conteneur-dernier-projet {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Partie sous-titre 1 - titre h2 : Mon dernier projet */
.sous-titre-accueil-1 {
    color: var(--couleur-fonce-gris-anthracite);
    font-size: 2.2em;
    font-family: var(--typo-titre), sans-serif;
    font-weight: 500;
}

.conteneur-dernier-projet h2 {
    margin: auto;
    padding-bottom: 70px;
}

/* Rangé 1 - Les 3 premières photos */
.rangee-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    padding-bottom: 1%;
}

.paysage7-crique {
    background-color: lightgrey;
    background-image: url('src/img/portfolio/paysages/paysage7.jpg');
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
}

.paysage8-source-chaude {
    background-color: lightgrey;
    background-image: url('src/img/portfolio/paysages/paysage8.jpg');
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
}

.paysage2-ciel-rouge {
    background-color: lightgrey;
    background-image: url('src/img/portfolio/paysages/paysage2.jpg');
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
}

/* Rangé 2 - Les 3 dernières photos */
.rangee-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
}

.paysage3-pont {
    background-color: lightgrey;
    background-image: url('src/img/portfolio/paysages/paysage3.jpg');
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
}

.paysage6-montagne-lac {
    background-color: lightgrey;
    background-image: url('src/img/portfolio/paysages/paysage6.jpg');
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
}

.paysage4-arbre-lac {
    background-color: lightgrey;
    background-image: url('src/img/portfolio/paysages/paysage4.jpg');
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
}


/* Bouton 2 : Voir mon portfolio */
.bouton-portfolio {
    display: flex;
    justify-content: center;
    padding: 60px;
}

/* -------------------------------- PARTIE CONTACT -------------------------------- */

/* Conteneur contact */
.carre-contact {
    padding: 70px;
}

/* Partie sous-titre 2 - titre h2 : Parlons de votre projet */
.sous-titre-accueil-2 {
    color: var(--couleur-clair-bleu-lavande);
    font-size: 2.2em;
    font-family: var(--typo-titre), sans-serif;
    font-weight: 500;
}

.conteneur-contact h2 {
    text-align: center;
    margin-bottom: 50px;
}

.grid-contact {
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: 100px 247px;
    justify-content: center;
    gap: 20px;
}

.partie-nom {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.partie-email {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.partie-message {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.bouton-envoyer {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
}

/* Partie Nom */
.partie-nom label {
    color: white;
    font-family: var(--typo-texte), sans-serif;
    font-size: 18px;
}

.partie-nom input {
    font-family: var(--typo-texte), sans-serif;
    font-size: 18px;
    width: 253px;
    height: 50px;
    margin-top: 10px;
}

/* Partie email */
.partie-email label {
    color: white;
    font-family: var(--typo-texte), sans-serif;
    font-size: 18px;
}

.partie-email input {
    font-family: var(--typo-texte), sans-serif;
    font-size: 18px;
    width: 253px;
    height: 50px;
    margin-top: 10px;
}

/* Partie Message */
.partie-message label {
    color: white;
    font-family: var(--typo-texte), sans-serif;
    font-size: 18px;
}

.partie-message textarea {
    font-family: var(--typo-texte), sans-serif;
    font-size: 18px;
    width: 535px;
    height: 207px;
    margin-top: 10px;
}

/* Partie bouton "ENVOYER" */

.bouton-envoyer {
    display: flex;
    justify-content: center;
}

.bouton-envoyer input[type=submit] {
    color: white;
    background: linear-gradient(var(--couleur-fonce-violet-gris), var(--couleur-clair-mauve-pastel));
    border-radius: 50px;
    width: 216px;
    height: 65px;
    font-family: var(--typo-titre), sans-serif;
    font-size: 18px;
    border: none;
    margin: 50px auto;
}

.bouton-envoyer input[type=submit]:hover {
    background: linear-gradient(var(--couleur-plusFonce-violet-gris), var(--couleur-clair-violet));
}